@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.story-content {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; // Center vertically
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap; // Prevent text from wrapping
  line-height: 1; // Ensure the text stays on one line
  animation: borderInOut 3s infinite alternate; // Add in-and-out effect to border
}

@keyframes borderInOut {
  0% {
    border-width: 2px;
  }
  100% {
    border-width: 5px;
  }
}

.homepage-story {
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .story-content {
    font-size: calc(100% - 1vw); // Adjust font size proportionally with viewport width
    padding: 10px; // Adjust padding for smaller screens
  }
}
