@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.story-content {
  font-family: 'Roboto', sans-serif; // Apply Roboto font
  font-weight: 400; // Use normal weight
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.homepage-story {
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .story-content {
    font-size: 70%; // Adjust font size to 70% on smaller screens
    padding: 10px; // Adjust padding for smaller screens
  }
}
