.products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-primary-color;
  border: 0.2em solid #333333; // Add border around the entire products section

  h2 {
    margin: 0 0 30px;
  }

  .product {
    @extend %column;
    @extend %col-sm-4;
    @extend %product;
  }

  @media screen and (max-width: $screen-xs-max) {
    padding-top: 15px;
    padding-bottom: 15px;

    h2 {
      margin: 0 0 15px;
    }
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
  }
}
