%product {
  color: $text-color;
  margin-bottom: 30px;
  position: relative; // Ensure proper positioning of product content
  
  &:hover, &:focus {
    a {
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.10);
      text-decoration: none;
    }
  }

  a {
    display: block;
    color: $text-color;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 400ms ease-in-out;
  }

  .product-image {
    background-color: #fff;
    position: relative;
    overflow: hidden; // Ensure images don't overflow the container
  }

  img {
    @extend %img-responsive;
    width: 100%;
    height: auto;
    display: block;
  }

  .product-content {
    background-color: #fff;
    padding: 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .title, .price {
    display: inline-block;
  }

  .price p {
    font-size: 24px;
    font-weight: 700;
  }

  .price {
    float: right;
    font-size: 24px;
    color: $primary-color;
  }

  h3 {
    margin: 0;
  }

  @media screen and (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }
}