
.buyitnow-item
= link_to '/buyitnow/' + buyitnow.title.parameterize + '/'
.buyitnow-image
= image_tag buyitnow.image
.buyitnow-content
.title
h3 = buyitnow.title
.price
p
- currency = data.settings.units.currency
= currency + buyitnow.price.to_s
.body
p = buyitnow.body